<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="WordDatabase" value="StringBuffer.WordDatabase.WordDatabaseFile.txt" />
        
        <add key="Angel" value="StringBuffer.ScreensDatabase.Angel.txt" />
		<add key="Circle" value="StringBuffer.ScreensDatabase.Circle.txt" />
        <add key="Intro" value="StringBuffer.ScreensDatabase.Intro.txt" />
        <add key="Lose" value="StringBuffer.ScreensDatabase.Lose.txt" />
        <add key="Menu" value="StringBuffer.ScreensDatabase.Menu.txt" />
        <add key="Pact" value="StringBuffer.ScreensDatabase.Pact.txt" />
		<add key="Point_1" value="StringBuffer.ScreensDatabase.Point_1.txt" />
		<add key="Point_2" value="StringBuffer.ScreensDatabase.Point_2.txt" />
		<add key="Point_3" value="StringBuffer.ScreensDatabase.Point_3.txt" />
		<add key="Point_4" value="StringBuffer.ScreensDatabase.Point_4.txt" />
		<add key="Point_5" value="StringBuffer.ScreensDatabase.Point_5.txt" />
        <add key="Splash" value="StringBuffer.ScreensDatabase.Splash.txt" />
        <add key="Win" value="StringBuffer.ScreensDatabase.Win.txt" />
		<add key="WindowFrame" value="StringBuffer.ScreensDatabase.WindowFrame.txt" />
		<add key="MaxChar_X" value="30" />
		<add key="MaxChar_Y" value="100" />
	</appSettings>
</configuration>