<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="WordDatabase" value="StringBuffer.WordDatabase.WordDatabaseFile.txt" />
		<add key="WindowFrame" value="StringBuffer.Screens.WindowFrame.txt" />
		<add key="Circle" value="StringBuffer.Screens.Circle.txt" />
		<add key="Point_1" value="StringBuffer.Screens.Point_1.txt" />
		<add key="Point_2" value="StringBuffer.Screens.Point_2.txt" />
		<add key="Point_3" value="StringBuffer.Screens.Point_3.txt" />
		<add key="Point_4" value="StringBuffer.Screens.Point_4.txt" />
		<add key="Point_5" value="StringBuffer.Screens.Point_5.txt" />
		<add key="MaxChar_X" value="40" />
		<add key="MaxChar_Y" value="100" />
	</appSettings>
</configuration>